<?xml version="1.0" encoding="utf-8" ?>
<CONFIG>

<SAGEFRAME VERSION="3.9"></SAGEFRAME>  
  <FILES>  
	<FILE path="SageFrame\Administrator\Templates\Default\css\topstickybar.css"></FILE> 
	<FILE path="SageFrame\Administrator\Templates\Default\fonts\fontawesome-webfont.eot"></FILE> 
	<FILE path="SageFrame\Administrator\Templates\Default\fonts\fontawesome-webfont.svg"></FILE> 
	<FILE path="SageFrame\Administrator\Templates\Default\fonts\fontawesome-webfont.ttf"></FILE> 
	<FILE path="SageFrame\Administrator\Templates\Default\fonts\fontawesome-webfont.woff"></FILE> 
	
	
	
	
	<FILE path="SageFrame\Modules\FileManager\js\FileManager.js"></FILE> 
	<FILE path="SageFrame\Modules\FileManager\WebMethods\WebMethods.aspx.cs"></FILE> 
	<FILE path="SageFrame\Modules\FileManager\FileMgr.ascx"></FILE> 
	<FILE path="SageFrame\Modules\FileManager\FileMgr.ascx.cs"></FILE> 
	
	<FILE path="SageFrame\Modules\Language\LanguageSetUp.ascx.cs"></FILE>	
	
	<FILE path="SageFrame\Modules\LayoutManager\LayoutManager.ascx"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\LayoutManager.ascx.cs"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\UploadHandler.ashx"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\WebMethod.aspx.cs"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\js\ajaxupload.js"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\js\beautifier.js"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\js\colorpicker.js"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\js\LayoutManager.js"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\js\ModernLayout.js"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\css\RawCss\Forms.css"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\css\RawCss\IconFonts.css"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\css\RawCss\Navigation.css"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\css\RawCss\Pagination.css"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\css\RawCss\Raw_template.css"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\css\RawCss\StickyFooter.css"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\css\RawCss\Forms.css"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\css\RawCss\Table.css"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\css\colorpicker.css"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\css\layout.css"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\css\module.css"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\CodeMirror\codemirror.css"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\CodeMirror\codemirror.js"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\CodeMirror\css.js"></FILE>
	
	<FILE path="SageFrame\Modules\LayoutManager\images\colorpicker_background.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\colorpicker_hex.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\colorpicker_hsb_b.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\colorpicker_hsb_h.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\colorpicker_hsb_s.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\colorpicker_indic.gif"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\colorpicker_overlay.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\colorpicker_rgb_b.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\colorpicker_rgb_g.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\colorpicker_rgb_r.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\colorpicker_select.gif"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\colorpicker_submit.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\custom_hex.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\custom_hsb_b.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\custom_hsb_h.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\custom_hsb_s.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\custom_indic.gif"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\custom_rgb_b.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\custom_rgb_g.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\custom_rgb_r.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\custom_submit.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\select.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\select2.png"></FILE>
	<FILE path="SageFrame\Modules\LayoutManager\images\slider.png"></FILE>
	
	<FILE path="SageFrame\Modules\Pages\css\module.css"></FILE> 
	<FILE path="SageFrame\Modules\Pages\images\dots.png"></FILE> 
	<FILE path="SageFrame\Modules\Pages\js\ModuleManager.js"></FILE> 
	<FILE path="SageFrame\Modules\Pages\services\ModuleManagerWebService.asmx"></FILE> 
	
	<FILE path="SageFrame\Modules\Sage_Banner\EditBanner.ascx.cs"></FILE> 
	
	<FILE path="SageFrame\Modules\TemplateFileManager\WebMethods\WebMethods.aspx.cs"></FILE> 
	
	<FILE path="SageFrame\Bin\SageFrame.Core.dll"></FILE> 	
	<FILE path="SageFrame\Bin\SageFrame.FileManager.dll"></FILE>
	<FILE path="SageFrame\Bin\SageFrame.Templating.dll"></FILE>
	<FILE path="SageFrame\Bin\SageFrame.Version.dll"></FILE>
  </FILES>   
</CONFIG>
